.item{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    background-color: #faf7f7;
    border-color: white;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-white-color);
}
.status{
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    margin: 45px 15px;
    margin-right: 0;
}
.isOnline{
    background: green;
}
.avatar{
    width: 70px;
    height: 70px;
    background-color: #77bdbd;
    border-radius: 5px;
    margin: 15px;
}
.name{
font-weight: 600;
font-size: 30px;
line-height: 1.19;
}